body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.3rem;
  background-color: #000;
  color: #ffffff;
  box-sizing: border-box;
}
input[type="text"],
input[type="password"] {
  background-color: #121212;
  border: 1px solid #333;
  border-radius: 1rem;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #4c4f53;
}
